<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.polycare_f">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:background="@drawable/border"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps"/>
        <activity android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:configChanges="orientation|keyboardHidden"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EventActivity"
            android:label="@string/event_activity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.DeclarationActivity"
            android:label="@string/declar_activity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.ChangeEventActivity"
            android:label="@string/change_activity"
            android:theme="@style/AppTheme"/>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAh_LBhFXMO-ZGnekJkiF7gLX5PtyZRd2U"/>

    </application>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>